{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block busqueda %}
<div class="d-flex gap-2 justify-content-center py-1">
    <h4 class="mb-3">Búsqueda por descripcion</h4>
</div> 

<div class="px-1 py-1 my-1 text-center">
    {%include "buscador.html"%} 
</div>

{%endblock%}

{%block grilla%}
{% load static %}
<div class="text-start">
    <div class="container col- col-md-7 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
                {% for message in messages %}
                    <span id="errorMessage"> {{message}}</span><br><br>
                {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Solicitud</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {%for obj in solicitud%}
                    <tr>
                    <td>
                        <input type="radio" value="{{obj.id_solicitud}}" name="solicitud_seleccionado">
                    </td> 
                    <td>
                        {{obj.id_solicitud}} 
                    </td>
                    <td>
                        {{obj.id_equipo.descripcion}} {{obj.id_equipo.marca}} {{obj.id_equipo.modelo}}
                    </td>
                    <td>
                        {{obj.id_equipo.id_cliente.nombres}} {{obj.id_equipo.id_cliente.apellidos}}
                    </td>
                    <td>
                        {{obj.fecha_ingreso}} 
                    </td>
                    <td>
                        {{obj.id_estado.nombre}} 
                    </td>
                    </tr>                
                    {% empty %}
                    <p>No hay registros.</p>
                    {%endfor%} 
                </tbody>
            </table>       
            <div class="d-flex justify-content-center">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Anterior</a>
                           </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>                       
            <input type="submit" class="btn btn-primary" value="Modificar"> 
        </form>     
    </div>
</div>

{%endblock%}

{%block botones%}
<div class="d-flex gap-2 justify-content-center py-1">
    <a href="{%url 'Solicitud_mante'%}" class="btn btn-lg btn-primary">Nuevo Registro</a>
</div>  
{% include "botonAtras.html" %}
{%endblock%}

