{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block contenido%}
{% load static %}
<div class="px-5 py-4 my-4 text-center">
    <div class=" text-start">
        <div class="container col- col-md-3 border p-3">
            <form  method= "POST" action="" novalidate>{% csrf_token %}
                {{form.as_p}}
                
                <div class="d-flex justify-content-between mt-3">
                    <input type="submit" name="Cancelar" class="btn btn-primary" value="Cancelar">
                    <input type="submit" name="Guardar" class="btn btn-primary" value="Guardar">
                </div>
                
            </form>
          </div>
          
    </div>
</div>
{% include "botonAtras.html" %}
{%endblock%}

