{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="card shadow p-4">
        <div class="card-body">
            <h2 class="card-title mb-3 text-success">
                ¡Gracias por participar!
            </h2>
            <p class="card-text fs-5">
                Agradecemos el tiempo que se tomó para brindarnos su opinión.
                Sus respuestas nos ayudarán a mejorar la calidad de nuestro servicio.
            </p>
        </div>
    </div>
</div>
{% endblock %}
