<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'Principal'%}">Inicio</a> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Solicitud</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Solicitud_consulta'%}">Solicitud</a></li>
              <li><a class="dropdown-item" href="{%url 'Solicitud_repuesto_acc_consulta'%}">Asignar repuesto/accesorio en una Solicitud</a></li>
              <li><a class="dropdown-item" href="{%url 'Estado_consulta'%}">Tipo de estado de Solicitud</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Cliente_consulta'%}">Cliente</a></li>
              <li><a class="dropdown-item" href="{%url 'Telefono_consulta'%} ">Telefono de Cliente</a></li>
              <li><a class="dropdown-item" href="{%url 'Prestadora_consulta'%}">Operadora</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Equipo</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Equipo_consulta'%}">Equipo</a></li>
              <li><a class="dropdown-item" href="{%url 'Tipo_equipo_consulta'%}">Tipo de Equipo</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Repuesto y Accesorio</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Repuesto_acc_consulta'%}">Repuesto y Accesorio</a></li>
              <li><a class="dropdown-item" href="{%url 'Tipo_repuesto_acc_consulta'%}">Tipo de Repuesto y Accesorio</a></li>
            </ul>
          </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reporte</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Solicitud_reporte'%}">Reporte de Solicitudes</a></li>
              <li><a class="dropdown-item" href="{%url 'Estado_tiempo_res_reporte'%}">Reporte de Tiempo de resolución entre tipos de estado de la solicitudes</a></li>
              <li><a class="dropdown-item" href="{%url 'Repuestos_acc_usados_reporte'%}">Reporte de histórico por equipo</a></li>
              <li><a class="dropdown-item" href="{%url 'Repuesto_acc_inventario'%}">Inventario de Repuestos/Accesorios</a></li>
              <li><a class="dropdown-item" href="{%url 'Rendimiento_tecnico_estadistica'%}">Estadística de rendimiento de Técnicos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Informe Gerencial</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Dashboard_solicitudes'%}">Dashboard Solicitud</a></li>
              <li><a class="dropdown-item" href="{%url 'Dashboard_encuesta'%}">Dashboard Encuesta Satisfacción al Cliente</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href= "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'Usuario_consulta'%}">Usuario</a></li>
              <li><a class="dropdown-item" href="{%url 'Usuario_pass'%}">Cambio de Contraseña</a></li> 
              <li><a class="dropdown-item" href="{%url 'Asignar_cargo_consulta'%}">Asignar cargo</a></li> 
              <li><a class="dropdown-item" href="{%url 'Cargo_consulta'%}">Cargo</a></li>  
            </ul>
          </li>
        </ul>
      </div> 
    </div>
</nav>


<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle"> 
    <a href="{% url 'Acceso' %}" class="btn btn-lg btn-outline-primary mb-3">Cerrar sesión</a>
</div>




  