{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}


{%block imagen%}
    {% load static %}
    <img class="d-block mx-auto mb-4" src= "{% static 'images/logo2.jpg' %}" alt="" width="900" height="400">

    {% if messages %}
    <div style="display: flex; justify-content: center; align-items: center;">
        {% for message in messages %}
                {{ message }}
            </span><br><br>
        {% endfor %}
    </div>
{% endif %}
{%endblock%}


