{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block busqueda %}
<div class="d-flex gap-2 justify-content-center py-1">
    <h4 class="mb-3">Búsqueda por tipo de repuesto/marca/descripción</h4>
</div> 


<div class="px-1 py-1 my-1 text-center">
    {%include "buscador.html"%} 
</div>

{%endblock%}

{%block grilla%}
{% load static %}
<div class="text-start">
    <div class="container col- col-md-7 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
                {% for message in messages %}
                    <span id="errorMessage"> {{message}}</span><br><br>
                {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Tipo de repuesto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {%for obj in repuesto_acc%}
                    <tr>
                    <td>
                        <input type="radio" value="{{obj.id_repuesto_acc}}" name="repuesto_acc_seleccionado">
                    </td> 
                    <td>
                        {{obj.id_tipo_repuesto_acc.nombre}} 
                    </td>
                    <td>
                        {% if obj.marca %}
                            {{obj.marca}} {{obj.descripcion}}
                        {% else %}
                            {{obj.descripcion}} 
                        {% endif %}
                    </td>
                    <td>
                        {{obj.precio}} 
                    </td>
                    <td>
                        {{obj.stock}} 
                    </td>
                    </tr>                
                    {% empty %}
                    <p>No hay registros.</p>
                    {%endfor%} 
                </tbody>
            </table>    
            <div class="d-flex justify-content-center">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Anterior</a>
                           </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>                                        
            <input type="submit" class="btn btn-primary" value="Modificar"> 
        </form>     
    </div>
</div>

{%endblock%}

{%block botones%}
<div class="d-flex gap-2 justify-content-center py-1">
    <a href="{%url 'Repuesto_acc_mante'%}" class="btn btn-lg btn-primary">Nuevo Registro</a>
</div> 
{% include "botonAtras.html" %}   
{%endblock%}
