{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{% block reporte%}
<div class="container mt-4">
    <form method="get" class="row g-3">
        <div class="col-md-3">
            {{ form.desde.label_tag }}
            {{ form.desde }}
        </div>
        <div class="col-md-3">
            {{ form.hasta.label_tag }}
            {{ form.hasta }}
        </div>
        <div class="col-md-3">
            {{ form.cliente.label_tag }}
            {{ form.cliente }}
        </div>
        <div class="col-md-3">
            {{ form.estado.label_tag }}
            {{ form.estado}}
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <button type="submit" name="generar_pdf" class="btn btn-primary">Generar PDF</button>
        </div>
    </form>

    {% if solicitudes %}
    <div class="mt-4">
        <h5>Resultados:</h5>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Cliente</th>
                    <th>Equipo</th>
                    <th>Tipo</th>
                    <th>Tipo de estado</th>
                    <th>Descripción</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Cierre</th>
                </tr>
            </thead>
            <tbody>
                {% for s in solicitudes %}
                <tr>
                    <td>{{ s.id_solicitud }}</td>
                    <td>{{ s.id_equipo.id_cliente.nombres }} {{ s.id_equipo.id_cliente.apellidos }}</td>
                    <td>{{ s.id_equipo.marca }} {{ s.id_equipo.modelo }}</td>
                    <td>{{ s.id_equipo.id_tipo_equipo.descripcion }}</td>
                    <td>{{ s.id_estado.nombre }}</td>
                    <td>{{ s.descripcion }}</td>
                    <td>{{ s.fecha_ingreso }}</td>
                    <td>{% if s.fecha_cierre %}{{ s.fecha_cierre }}{% else %}—{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Anterior</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div> 
    </div>
    {% else %}
    <p class="mt-4">No se encontraron resultados.</p>
    {% endif %}

</div>
{% endblock%}