{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block busqueda %}
<div class="d-flex gap-2 justify-content-center py-1">
    <h4 class="mb-3">Búsqueda por descripcion</h4>
</div> 

{% comment %}<div class="d-flex gap-1 justify-content-center">
    <div class="my-3">
        <form class="d-flex" method="GET" action="">{% csrf_token %} 
             <div class="form-check">
                <input id="documento" name="documento" type="radio" value="documento" class="form-check-input" checked>
                <label class="form-check-label" for="nom_ap">Documento</label>
            </div>
            <div class="form-check">
                <input id="nombre" name="nombre" type="radio" value="nombre" class="form-check-input">
                <label class="form-check-label" for="">Nombre/Apellido</label>
            </div> 
        </form>    
    </div>
</div>{% endcomment %}

<div class="px-1 py-1 my-1 text-center">
    {%include "buscador.html"%} 
</div>

{%endblock%}

{%block grilla%}
{% load static %}
<div class="text-start">
    <div class="container col- col-md-7 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
                {% for message in messages %}
                    <span id="errorMessage"> {{message}}</span><br><br>
                {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {%for obj in tipo_equipo%}
                    <tr>
                    <td>
                        <input type="radio" value="{{obj}}" name="tipo_eq_seleccionado">
                    </td> 
                    <td>
                        {{obj.descripcion}} 
                    </td>
                    </tr>                
                    {% empty %}
                    <p>No hay registros.</p>
                    {%endfor%} 
                </tbody>
            </table>                                          
            <input type="submit" class="btn btn-primary" value="Modificar"> 
        </form>     
    </div>
</div>

{%endblock%}

{%block botones%}

<div class="d-flex gap-2 justify-content-center py-1">
    <a href="{%url 'Tipo_equipo_mante'%}" class="btn btn-lg btn-primary">Nuevo Registro</a>
</div>    
{%endblock%}